body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
	max-width: 450px;
	margin: 0 auto;
}

[contenteditable] {
	box-shadow: 0 0 1px;
}

[contenteditable="false"] {
	background: lightgray;
	opacity: 0.8;
}

label,
i {
	opacity: 0.6;
}
